@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    position: relative;
}

#superUI {
    position: fixed;
    top: 50%;
    right: 1%;
    width: 13%;
    background-color: rgb(48, 48, 68);
    border: 1px inset rgb(48, 48, 68);
    border-radius: 20px;
    padding: 5px 15px 5px;
    font-family: 'VT323', monospace;
    color: white;
    text-transform: uppercase;
    font-size: 1.2vw;
    transform: translate(0, -50%);
}

.hidden {
    display: none;
}
