body {
    margin: 0;
    overflow: hidden;
}

#htmlBox {
    position: absolute;
    bottom: 350px;
    right: 10px;
    background-color: #064265; /* Blue background color */
    border: 2px solid #AA0918; /* Red border color */
    color: #3BC3D4; /* White text color */
    padding: 10px;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

#htmlBox2 {
    position: absolute;
    bottom: 350px;
    right: 10px;
    background-color: #064265; /* Blue background color */
    border: 2px solid #AA0918; /* Red border color */
    color: #3BC3D4; /* White text color */
    padding: 10px;
    font-family: Arial, sans-serif;
}

.hidden2 {
    display: none;
}

#htmlBox3 {
    position: absolute;
    bottom: 350px;
    right: 10px;
    background-color: #064265; /* Blue background color */
    border: 2px solid #AA0918; /* Red border color */
    color: #3BC3D4; /* White text color */
    padding: 10px;
    font-family: Arial, sans-serif;
}

.hidden3 {
    display: none;
}

#htmlBox4 {
    position: absolute;
    bottom: 350px;
    right: 10px;
    background-color: #064265; /* Blue background color */
    border: 2px solid #AA0918; /* Red border color */
    color: #3BC3D4; /* White text color */
    padding: 10px;
    font-family: Arial, sans-serif;
}

.hidden4 {
    display: none;
}
